<h1>Welcome to Narinder's Music Company</h1>
<div class="view_css">
	<p>To register yourself please click this link below</p>
	<%= link_to 'Get Started', new_user_session_path %>
</div>










<style>
	h1 {
	  color: orange;
	  font-family: verdana;
	  font-size: 300%;
	  text-align: center;
	}

	body {
		 background-image: url("muss.jpeg");
	}

	.view_css{
		color: orange;
		text-align: center;
	}
</style>